*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    height: 100vh;
    width: 100vw;
    background: rgb(29, 17, 40);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.card{
    background: rgb(255, 255, 255);
    height: 70vh;
    flex-grow: .5;
    margin: 10px;
    border-radius: 100px;
    text-align: center;
    opacity: .8;
    transition: all .8s ease-in-out;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 2px;
}

.card:hover{
    cursor: pointer;
}


.card-active{
    flex-grow: 6;
    border-radius: 100px;
}